.addButton{
    color: white;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 4px;
    background: #0074e4;
    border: none;
    text-align: center;
    cursor: pointer;
    font-family: 'Poppins';
}
.notFoundContainer{
    font-family: 'Poppins';
    color: white;
    width: max-content;
}