
.enterButton{
    color: white;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 4px;
    background: #0074e4;
    border: none;
    text-align: center;
    cursor: pointer;
    transform: translateY(35px);
    font-family: 'Poppins';
    font-style: Light;
}
.letters{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    align-items: flex-start;
}

.homeParent{
    display: flex;
    align-items: center;
    justify-content: center;    
    transform: translateY(50%);
    gap: 20px;
}
.h1letter{
    color: white;
    margin: 0;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 400%;
}

.homeImg{
    background-image: url('https://media.rawg.io/media/games/021/021c4e21a1824d2526f925eff6324653.jpg');
    background-size: cover;
    width: 700px;
    height: 400px;
    border-radius: 40px;
}
@media (max-width:1300px)
 {
    .homeParent{
        flex-direction: column-reverse;
        transform: translateY(10px);
    }
}
@media (max-width:550px) {
    .homeParent{
        align-items: center;
    }
     .letters{
        align-items: flex-start;
    }
    .h1letter{
        width: 300px;
        font-size: 300%;
    } 
    .homeImg{
        width: 600px;
        height: 400px;
    }
}