.filtersMenu{
    background-color: black;
    color: white;
    width: 200px;
    padding: 20px;    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: 'Poppins';
    margin-right: 110px;
}
.filterName{
    margin: 0;
}

.hrStyle{
    width: 100%;
    opacity: 0.5;
}

.selectOrder{
    font-size: 0.8rem;
    padding: 1em 1.5em;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    border: none;
}
@media (max-width:550px) {
    .filtersMenu{
        margin-right: 0;
        row-gap: 0;
        grid-row-gap: 0;
    }
}