.buttonPage{
    all: unset;
    font-family: 'Poppins';
    font-size: 1em;
    color: white;
    cursor: pointer;
    opacity: 0.5;
}

.buttonPage:hover{
    opacity: 1;
}

.pagination{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.pageItem{
    list-style-type: none;
    text-decoration: none;
}

.currentbuttonPage{
    all: unset;
    font-family: 'Poppins';
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    opacity: 1;
}